html,body,form {
  margin: 0;
  padding: 0;
  font: 13px/27px Arial, sans-serif;
}

#gbz,#gbg {
  position: absolute;
  white-space: nowrap;
  top: 0;
  height: 30px;
  z-index: 1000
}

#gbz {
  left: 0;
  padding-left: 4px
}

#gbx3,#gbx4 {
  background-color: #2d2d2d;
  background-image: none;
  _background-image: none;
  background-position: 0 -138px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #000;
  font-size: 24px;
  height: 29px;
  _height: 30px;
  opacity: 1;
  filter: alpha(opacity =         100);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 990
}

#gbx3 {
  left: 0
}

.gbtcb {
  position: absolute;
  visibility: hidden
}

#gbz .gbtcb {
  right: 0
}

.gbxx {
  display: none !important
}

.gbtc,.gbmc,.gbmcc {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0
}

.gbt {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  line-height: 27px;
  padding: 0;
  vertical-align: top
}

.gbt {
  *display: inline
}

.gbzt,.gbgt {
  cursor: pointer;
  display: block;
  text-decoration: none !important
}

.gbts {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: block;
  *display: inline-block;
  padding: 0 5px;
  position: relative;
  z-index: 1000
}

.gbts {
  *display: inline
}

.gbzt .gbts {
  display: inline;
  zoom: 1
}

.gbz0l .gbts {
  color: #fff;
  font-weight: bold
}

#gbz .gbzt,#gbz .gbgt,#gbg .gbgt {
  color: #ccc !important
}

.gbtb2 {
  display: block;
  border-top: 2px solid transparent
}

.gbzt:hover,.gbzt:focus,.gbgt-hvr,.gbgt:focus {
  background-color: transparent;
  background-image: none;
  _background-image: none;
  background-position: 0 -102px;
  background-repeat: repeat-x;
  outline: none;
  text-decoration: none !important
}

.gbz0l .gbtb2 {
  border-top-color: transparent !important
}

#gbg6.gbgt-hvr,#gbg6.gbgt:focus {
  background-color: transparent;
  background-image: none
}

.gbn .gbmt,.gbn .gbmt:visited,.gbnd .gbmt,.gbnd .gbmt:visited {
  color: #dd8e27 !important
}

.gbf .gbmt,.gbf .gbmt:visited {
  color: #900 !important
}

.gbmt,.gbml1,.gbmlb,.gbmt:visited,.gbml1:visited,.gbmlb:visited {
  color: #36c !important;
  text-decoration: none !important
}

.gbmt,.gbmt:visited {
  display: block
}

.gbml1,.gbmlb,.gbml1:visited,.gbmlb:visited {
  display: inline-block;
  margin: 0 10px
}

.gbml1,.gbmlb,.gbml1:visited,.gbmlb:visited {
  *display: inline
}

.gbml1,.gbml1:visited {
  padding: 0 10px
}

.gbml1-hvr,.gbml1:focus {
  outline: none;
  text-decoration: underline !important
}

.gbmlb,.gbmlb:visited {
  line-height: 27px
}

.gbmlb-hvr,.gbmlb:focus {
  outline: none;
  text-decoration: underline !important
}

.gbmt:hover,.gbmt:focus {
  background: #eee;
  cursor: pointer;
  outline: 0 solid black;
  text-decoration: none !important
}

.gbm0l,.gbm0l:visited {
  color: #000 !important;
  font-weight: bold
}

.GBMCC:last-child:after,#GBMPAL:last-child:after {
  content: '\0A\0A';
  white-space: pre;
  position: absolute
}

.gbqfb,.gbqfba,.gbqfbb {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  min-width: 54px;
  *min-width: 70px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none
}

.gbqfb:focus,.gbqfba:focus,.gbqfbb:focus {
  border: 1px solid #4d90fe;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  outline: none
}

.gbqfb-hvr:focus,.gbqfba-hvr:focus,.gbqfbb-hvr:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1)
}

.gbqfb-no-focus:focus {
  border: 1px solid #3079ed;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.gbqfb::-moz-focus-inner,.gbqfba::-moz-focus-inner,.gbqfbb::-moz-focus-inner {
  border: 0
}

.gbqfb {
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe', EndColorStr='#4787ed');
  border: 1px solid #3079ed;
  color: #fff !important;
  margin: 0 0
}

.gbqfb-hvr:focus {
  border-color: #2f5bb7
}

.gbqfb-hvr,.gbqfb-hvr:focus {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8)
}

.gbqfb:active {
  background-color: inherit;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3)
}

.gbqfba-hvr,.gbqfba-hvr:active {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8', EndColorStr='#f1f1f1')
}

.gbqfbb-hvr,.gbqfbb-hvr:active {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
  background-image: -moz-linear-gradient(top, #fff, #f8f8f8);
  background-image: -ms-linear-gradient(top, #fff, #f8f8f8);
  background-image: -o-linear-gradient(top, #fff, #f8f8f8);
  background-image: linear-gradient(top, #fff, #f8f8f8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f8f8f8')
}

.gbqfba-hvr,.gbqfba-hvr:active,.gbqfbb-hvr,.gbqfbb-hvr:active {
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  color: #222 !important
}

.gbqfba:active,.gbqfbb:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

#gbql,#gbgsi,#gbgsa,.gbqfi,.gbmai,.gbp0i,.gbmppci,.gbqfh #gbql {
  background-image: url('http://ssl.gstatic.com/gb/images/k1_a31af7ac.png');
  background-size: 294px 45px
}

@media screen and (min-resolution:1.25dppx) , screen and (-o-min-device-pixel-ratio:5/4) , screen and (-webkit-min-device-pixel-ratio:1.25) ,
    screen and (min-device-pixel-ratio:1.25) {
  #gbql,#gbgsi,#gbgsa,.gbqfi,.gbmai,.gbp0i,.gbmppci,.gbqfh #gbql {
    background-image: url('//ssl.gstatic.com/gb/images/k2_aca6bcc6.png')
  }
}

#gb {
  height: 82px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

.gbxx {
  display: none !important
}

#gbq,#gbu {
  position: absolute;
  top: 0px;
  white-space: nowrap
}

#gbu {
  height: 71px
}

#gbu,#gbq1,#gbq3 {
  z-index: 987
}

#gbq {
  left: 0;
  _overflow: hidden;
  width: 100%;
  z-index: 986
}

#gbq2 {
  top: 0px;
  z-index: 986
}

#gbu {
  right: 0;
  height: 30px;
  margin-right: 28px;
  padding-bottom: 0;
  padding-top: 20px
}

#gbx1,#gbx2 {
  background: #f1f1f1;
  background: -webkit-gradient(radial, 100 36, 0, 100 -40, 120, from(#fafafa), to(#f1f1f1)), #f1f1f1;
  border-bottom: 1px solid #666;
  border-color: #e5e5e5;
  height: 71px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 985;
  min-width: 1000px;
}

#gbx1 {
  left: 0
}

#gbq1 {
  left: 0;
  margin: 0;
  padding: 0;
  margin-left: 44px;
  position: absolute
}

#gbql {
  background-repeat: no-repeat;
  background-position: -178px 0;
  display: block;
  height: 45px;
  width: 116px
}

.gbqla {
  display: inline-block;
  outline: none;
  position: relative
}

.gbqlca {
  cursor: pointer;
  cursor: hand;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0
}

#gbqlt {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0
}

#gbqlw {
  display: table-cell;
  height: 71px;
  padding: 0;
  padding-right: 16px;
  position: relative;
  vertical-align: middle
}

#gbq2 {
  display: block;
  margin-left: 220px;
  padding-bottom: 0;
  padding-top: 20px
}

#gbqf {
  display: block;
  margin: 0;
  max-width: 512px;
  min-width: 200px;
  white-space: nowrap
}

.gbqff {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 100%
}

.gbqff {
  *display: inline
}

.gbqfqw,#gbqfb,.gbqfwa {
  vertical-align: top
}

#gbqfaa,#gbqfab,#gbqfqwb {
  position: absolute
}

#gbqfaa {
  left: 0
}

#gbqfab {
  right: 0
}

.gbqfqwb,.gbqfqwc {
  right: 0;
  left: 0
}

.gbqfqwb {
  padding: 0 8px
}

#gbqfbw {
  margin: 0 15px;
  display: inline-block;
  vertical-align: top
}

#gbqfbw {
  *display: inline
}

.gbqfi {
  background-position: -33px 0;
  display: inline-block;
  height: 13px;
  margin: 7px 19px;
  width: 14px
}

.gbqfi {
  *display: inline
}

.gbqfqw {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 27px;
}

#gbqfqw {
  position: relative
}

.gbqfwa {
  display: inline-block;
  width: 100%
}

.gbqfwa {
  *display: inline
}

.gbqfqw:active,.gbqfqwf {
  border: 1px solid #4d90fe;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  outline: none
}

#gbqfq,#gbqfqb,#gbqfqc {
  background: transparent;
  border: none;
  height: 19px;
  margin-top: 4px;
  padding: 0;
  vertical-align: top;
  width: 100%
}

#gbqfq:focus,#gbqfqb:focus,#gbqfqc:focus {
  outline: none
}

.gbqfif,.gbqfsf {
  font: 16px arial, sans-serif
}

#gbu .gbgt,#gbu .gbgt:active {
  color: #666
}

#gbu .gbt {
  margin-left: 15px
}

#gbg4 {
  padding-right: 16px
}

.gbmab,.gbmac,.gbmad,.gbmae {
  left: 5px;
  border-style: dashed dashed solid;
  border-color: transparent;
  border-bottom-color: #bebebe;
  border-width: 0 10px 10px;
  cursor: default;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1000
}

.gbmab,.gbmac {
  visibility: hidden
}

.gbmac {
  border-bottom-color: #fff
}

.gbmai {
  background-position: -163px -40px;
  opacity: .8;
  font-size: 0;
  line-height: 0;
  position: absolute;
  height: 4px;
  width: 7px
}

#gbg3:active #gbgsa {
  background-position: 0 0
}

.gbgt-hvr #gbgs3,#gbg3:focus #gbgs3,#gbg3:active #gbgs3 {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
  background-image: -moz-linear-gradient(top, #ffffff, #ececec);
  background-image: -ms-linear-gradient(top, #ffffff, #ececec);
  background-image: -o-linear-gradient(top, #ffffff, #ececec);
  background-image: linear-gradient(top, #ffffff, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ececec');
  border-color: #bbb
}

#gbg3:active #gbgs3 {
  border-color: #b6b6b6
}

#gbg3:active #gbgs3 {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2)
}

#gbg1:focus #gbi1a,#gbg1:active #gbi1a {
  background-color: #b0281a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#b0281a));
  background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -moz-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -ms-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -o-linear-gradient(top, #dd4b39, #b0281a);
  background-image: linear-gradient(top, #dd4b39, #b0281a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39', EndColorStr='#b0281a');
  border-color: #992a1b;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3)
}

.gbgt-hvr .gbid#gbi1a,#gbg1:focus .gbid#gbi1a,#gbg1:active .gbid#gbi1a {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
  background-image: -moz-linear-gradient(top, #ffffff, #ececec);
  background-image: -ms-linear-gradient(top, #ffffff, #ececec);
  background-image: -o-linear-gradient(top, #ffffff, #ececec);
  background-image: linear-gradient(top, #ffffff, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ececec');
  border-color: #bbb
}

#gbg1:active .gbid#gbi1a {
  border-color: #b6b6b6;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3)
}

.gbgt-hvr #gbi1,#gbg1:focus #gbi1 {
  text-shadow: 0 1px rgba(0, 0, 0, .3)
}

.gbids#gbi1,.gbgt-hvr .gbids#gbi1,#gbg1:focus .gbids#gbi1,#gbg1:active .gbids#gbi1 {
  color: #999;
  text-shadow: none
}

@
-webkit-keyframes gb__sn { 0%,49%{
  opacity: 0
}

50%{
opacity




:





1;
top




:





-30
px




}
100%{
opacity




:




1;
top




:




7
px




}
}
@
-moz-keyframes gb__sn { 0%,49%{
  opacity: 0
}

50%{
opacity




:




1;
top




:




-30
px




}
100%{
opacity




:




1;
top




:




7
px




}
}
@
-o-keyframes gb__sn { 0%,49%{
  opacity: 0
}

50%{
opacity




:




1;
top




:




-30
px




}
100%{
opacity




:




1;
top




:




7
px




}
}
@
keyframes gb__sn { 0%,49%{
  opacity: 0
}

50%{
opacity




:




1;
top




:




-30
px




}
100%{
opacity




:




1;
top




:




7
px




}
}
#gbg6 #gbi4t,#gbg4 #gbgs4d {
  color: #666;
  text-shadow: none
}

#gb_70:active .gbgs,#gb_70.gbgt-hvr:active .gbgs {
  background-color: #b0281a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#b0281a));
  background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -moz-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -ms-linear-gradient(top, #dd4b39, #b0281a);
  background-image: -o-linear-gradient(top, #dd4b39, #b0281a);
  background-image: linear-gradient(top, #dd4b39, #b0281a);
  border-color: #992a1b;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

#gbgs4d {
  display: inline-block;
  position: relative;
  z-index: 1000
}

#gbgs4dn {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis
}

.gbg4p {
  margin-top: 0px
}

.gbgt-hvr #gbgs4,#gbg4:focus #gbgs4,#gbg4:active #gbgs4,#gbg_70:focus .gbgs,#gbg_71:focus .gbgs,#gbg_70:active .gbgs,#gbg_71:active .gbgs,#gbg7:focus .gbgs,#gbg7:active .gbgs
  {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
  background-image: -moz-linear-gradient(top, #ffffff, #ececec);
  background-image: -ms-linear-gradient(top, #ffffff, #ececec);
  background-image: -o-linear-gradient(top, #ffffff, #ececec);
  background-image: linear-gradient(top, #ffffff, #ececec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ececec');
  border-color: #bbb
}

#gbg4:active #gbgs4,#gb_70:active .gbgs,#gb_71:active .gbgs,#gbg7:active .gbgs {
  border-color: #b6b6b6;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3)
}

#gbgs4d .gbmai {
  left: 100%;
  margin-left: 5px;
  top: 12px
}

#gbgs4d .gbmab {
  margin: 41px 0 0
}

#gbgs4d .gbmac {
  margin: 42px 0 0;
  border-bottom-color: #fff
}

#gbgs4d .gbmab,#gbgs4d .gbmac {
  left: 50%;
  margin-left: -5px
}

#gb #gbx1,#gb #gbx3 {
  left: 0
}

#gbx1,#gb #gbx1,#gbq,#gbu,#gb #gbq,#gb #gbu {
  top: 30px
}

#gb #gbu {
  top: 30px
}

#gbzw #gbz {
  padding-left: 0;
  z-index: 991
}

#gbx3 {
  min-width: 1000px;
  border-color: #000;
  background-color: #2d2d2d;
  opacity: 1;
  filter: alpha(opacity =         100)
}

#gbz .gbzt,#gbz .gbgt {
  color: #bbb !important;
  font-weight: bold
}

#gbq .gbgt-hvr,#gbq .gbgt:focus,#gbz .gbz0l .gbts,#gbz .gbzt:hover,#gbz .gbzt:focus,#gbz .gbgt-hvr,#gbz .gbgt:focus,#gbu .gbz0l .gbts,#gbu .gbzt:hover,#gbu .gbzt:focus,#gbu .gbgt-hvr,#gbu .gbgt:focus
  {
  background-color: transparent;
  background-image: none
}

#gbz .gbz0l .gbts,#gbz .gbzt:hover,#gbz .gbzt:focus,#gbz .gbgt-hvr,#gbz .gbgt:focus {
  color: #fff !important
}

#gbz .gbzt:hover .gbma,#gbz .gbzt:focus .gbma,#gbz .gbgt-hvr .gbma,#gbz .gbgt:focus .gbma {
  border-top-color: #fff
}

#gbz .gbto .gbma,#gbz .gbto .gbzt:hover .gbma,#gbz .gbto .gbzt:focus .gbma,#gbz .gbto .gbgt-hvr .gbma,#gbz .gbto .gbgt:focus .gbma {
  border-top-color: #000
}

#gbd .gbmt:hover,#gbd .gbmt:focus {
  background-color: #f5f5f5
}

#gbz .gbts {
  padding: 0 9px;
  z-index: 991
}

#gbqlw {
  cursor: pointer
}

#gbzw {
  left: 0;
  height: 30px;
  margin-left: 34px;
  position: absolute;
  top: 0;
  z-index: 991
}

#gbz {
  height: 30px
}

#gbzw .gbt {
  line-height: 27px
}

.gbsb .gbsbt:after,.gbsb .gbsbb:after {
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  width: 100%
}

.gbsb .gbsbt:after {
  border-top: 1px solid #ebebeb;
  border-color: rgba(0, 0, 0, .3);
  top: 0
}

.gbsb .gbsbb:after {
  border-bottom: 1px solid #ebebeb;
  border-color: rgba(0, 0, 0, .3);
  bottom: 0
}

.gbsbic::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .4)
}

.gbsbic::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
  background-color: rgba(0, 0, 0, .5)
}

.gbsbic::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .05)
}

.gbsbic::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
  background-color: rgba(0, 0, 0, .05)
}

/**/
.product-logo a {
  color: #DD4B39;
  text-decoration: none;
}

.product-logo.density-tiny {
  font-size: 20px;
  padding: 7px 0 7px 44px;
  transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s,
    width 0.218s ease 0s;
}

.product-logo {
  border-bottom: 1px solid #EBEBEB;
  height: 29px;
  line-height: 29px;
}

.goog-toolbar-item-new {
  margin-right: 1px;
}

.goog-toolbar-item-new,.goog-toolbar-item-upload {
  vertical-align: top;
}

.jfk-button-primary {
  background-color: #D14836;
  background-image: -moz-linear-gradient(center top, #DD4B39, #D14836);
  border: 1px solid transparent;
  box-shadow: none;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.jfk-button {
  border-radius: 2px 2px 2px 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0 none;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}

.goog-inline-block {
  display: inline-block;
  position: relative;
}

.contentcreationpane.density-tiny {
  padding: 14px 0 13px 44px;
  transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s,
    width 0.218s ease 0s;
}

.jfk-button-narrow {
  min-width: 34px;
  padding: 0;
}

.drive-sprite-core-upload {
  background: url(../images/core-2cc2bab0594cbf8fbdff28fa69e29d2b.png) no-repeat scroll 0 0/21px 405px transparent;
  height: 16px;
  width: 19px;
}

/*右侧共享，删除..功能键*/
.navpane-resize-transition .navpane,.navpane-resize-transition {
  transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s,
    width 0.218s ease 0s;
}

.viewpane-toolbar.density-tiny {
  padding: 7px 16px;
  transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s,
    width 0.218s ease 0s;
}

.viewpane-toolbar {
  border-bottom: 1px solid #EBEBEB;
}

.viewpane-toolbar {
  font-size: 13px;
  height: 29px;
  overflow: hidden;
}

.viewpane-toolbar-selection {
  float: left;
}

.jfk-button-standard {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  color: #444444;
}

.viewpane-toolbar-share-icon {
  margin-left: 17px;
  margin-top: 3px;
  opacity: 0.55;
  vertical-align: middle;
}

.drive-sprite-core-share {
  background: url(../images/core-2cc2bab0594cbf8fbdff28fa69e29d2b.png) no-repeat scroll 0 -355px/21px 405px transparent;
  height: 21px;
  width: 21px;
}

.drive-sprite-core-share-white {
  background: url(../images/core-2cc2bab0594cbf8fbdff28fa69e29d2b.png) no-repeat scroll 0 -244px/21px 405px transparent;
  height: 21px;
  width: 21px;
}

.jfk-button-collapse-right {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

.jfk-button-hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(197, 55, 39);
  background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: -moz-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: -ms-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: -o-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  border: 1px solid rgb(176, 40, 26);
  border-bottom-color: rgb(175, 48, 31);
}

.upload-icon-position {
  margin-top: 5px;
}

.jfk-button-active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(176, 40, 26);
  background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: -moz-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: -ms-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: -o-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  border: 1px solid rgb(153, 42, 27);
  border-top: 1px solid rgb(153, 42, 27);
}

}
.drive-sprite-core-organize {
  background: url(../images/core-2cc2bab0594cbf8fbdff28fa69e29d2b.png) no-repeat scroll 0 -39px/21px 405px transparent;
  height: 21px;
  width: 21px;
}

.viewpane-toolbar-organize-icon {
  margin-left: 17px;
  margin-top: 3px;
  opacity: 0.55;
  vertical-align: middle;
}

.jfk-button-collapse-left {
  border-bottom-left-radius: 2;
  border-top-left-radius: 2;
}

.jfk-button-collapse-left,.jfk-button-collapse-right {
  z-index: 1;
}

.drive-sprite-core-trash {
  background: url(../images/core-2cc2bab0594cbf8fbdff28fa69e29d2b.png) no-repeat scroll 0 -118px/21px 405px transparent;
  height: 21px;
  width: 21px;
}

.viewpane-toolbar-trash-icon {
  margin-left: 17px;
  margin-top: 3px;
  opacity: 0.55;
  vertical-align: middle;
}

.viewpane .goog-toolbar-item-action-menu {
  margin-left: 8px;
  margin-right: 0;
  vertical-align: top !important;
}

.goog-flat-menu-button {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #444444;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  line-height: 27px;
  list-style: none outside none;
  margin: 0 2px;
  min-width: 46px;
  outline: medium none;
  padding: 0 18px 0 6px;
  text-align: center;
  text-decoration: none;
}

.goog-flat-menu-button-dropdown {
  border-color: #777777 transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 12px;
  width: 0;
}

.viewpane-toolbar-list {
  float: right;
}

.viewpane .goog-toolbar-item-viewpane-settings {
  margin-left: 8px;
  margin-right: 0;
}

.goog-flat-menu-button {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #444444;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  line-height: 27px;
  list-style: none outside none;
  margin: 0 2px;
  min-width: 46px;
  outline: medium none;
  padding: 0 18px 0 6px;
  text-align: center;
  text-decoration: none;
}

.goog-flat-menu-button-caption {
  vertical-align: top;
  white-space: nowrap;
}

.viewpane-toolbar-settings-icon {
  margin-top: 3px;
  opacity: 0.55;
  vertical-align: middle;
}

.drive-sprite-core-settings {
  background: url(../images/core-2cc2bab0594cbf8fbdff28fa69e29d2b.png) no-repeat scroll 0 -183px/21px 405px transparent;
  height: 21px;
  width: 21px;
}

.goog-flat-menu-button-hover .viewpane-toolbar-settings-icon {
  opacity: 0.72;
}

/*首页左侧树样式*/
.navpane-container-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.navpane-top-list {
    border-top: 0 none !important;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}
.navpane-top-list.density-normal {
    line-height: 26px;
    padding: 0 0 0 27px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-top-list.density-small {
    line-height: 20px;
    padding: 0 0 0 11px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-top-list.density-tiny {
    line-height: 16px;
    padding: 0 0 0 3px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-top-list .goog-menu {
    padding-bottom: 0;
    padding-top: 0;
}
.navpane-top-list .goog-menuseparator {
    margin-bottom: 3px;
    margin-left: 16px;
    margin-top: 4px;
}
.download-link {
    cursor: pointer;
    padding-left: 16px;
    text-decoration: none;
}
.download-link .goog-tree-item-label {
    white-space: normal;
}
.offline-disabled .download-link {
    cursor: default;
    opacity: 0.5;
}
.offline-disabled a.download-link:hover .goog-tree-item-label {
    color: #222222;
}
.download-link:hover .goog-tree-item-label {
    color: #1155CC;
}
.navpane-download-link.density-normal {
    line-height: 26px;
    padding-left: 28px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-download-link.density-small {
    line-height: 20px;
    padding-left: 12px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-download-link.density-tiny {
    line-height: 16px;
    padding-left: 0;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-download-separator {
    margin-bottom: 10px;
    margin-left: 16px;
    margin-top: 4px;
}
.navpane .goog-menu {
    outline: medium none;
}
.nav-tree-folder-view {
    margin-bottom: 16px;
    overflow: hidden;
    width: 100%;
}
.sc-navpane .nav-tree-folder-view {
    margin-bottom: 0;
}
.sc-navpane-separator {
    border-top-color: #FFFFFF;
    margin: 3px 0 2px !important;
}
.nav-tree-folder-view .goog-list.density-normal {
    padding: 0 0 0 27px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.nav-tree-folder-view .goog-list.density-small {
    padding: 0 0 0 11px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.nav-tree-folder-view .goog-list.density-tiny {
    padding: 0 0 0 3px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.goog-useragent-ie .nav-tree-folder-view .goog-list {
    width: 100%;
}
.nav-tree-folder-view .goog-tree-root {
    border: 0 none;
    height: auto;
    outline: medium none;
    overflow: hidden;
}
.nav-tree-folder-view .goog-tree-row {
    cursor: pointer;
}
.nav-tree-folder-view .goog-tree-row-hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #EEEEEE !important;
    color: #000000;
}
.nav-tree-folder-view .goog-tree-disabled .goog-tree-row-hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF !important;
    color: #000000;
}
.nav-tree-folder-view .goog-tree-row-hover.goog-tree-row-icon-hover {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF !important;
    color: #000000;
}
.goog-tree-row-icon-hover .navpane-expand-icon {
    background-color: #EEEEEE;
    color: #000000;
}
.navpane .navpane-top-list .goog-listitem {
    border: 1px solid #FFFFFF;
    padding-left: 0;
    position: relative;
}
.navpane-top-list.density-normal .goog-listitem {
    line-height: 26px;
}
.navpane-top-list.density-small .goog-listitem {
    line-height: 20px;
}
.navpane-top-list.density-tiny .goog-listitem {
    line-height: 16px;
}
.goog-listitem-icon.starred-icon {
    background-image: url("https://ssl.gstatic.com/docs/doclist/images/icons_35.png");
    background-position: -240px 0;
    margin-left: 2px;
    margin-top: -2px;
    padding-top: 0;
}
.goog-useragent-ie7only .goog-listitem-icon.starred-icon {
    margin-top: 0.035em;
}
.navpane .treedoclistview-node-message {
    left: -5px;
    position: relative;
    top: -3px;
}
.navpane .goog-listitem-container, .navpane .goog-listitemheader-container {
    vertical-align: top;
}
.navpane .navpane-top-list .goog-listitem-content {
    padding-left: 16px;
}
.navpane .navpane-top-list.density-tiny .goog-listitem-content {
    padding-left: 12px;
}
.navpane .goog-tree-item-label {
    vertical-align: top;
    width: auto;
}
.navpane .goog-list.density-normal .goog-tree-item-label {
    margin-top: 4px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane .goog-list.density-small .goog-tree-item-label {
    margin-top: 1px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane .goog-list.density-tiny .goog-tree-item-label {
    margin-top: 0;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.goog-tree-item-dragover {
    background-color: #EEEEEE;
    border: 1px solid #4D90FE !important;
}
.navpane .goog-tree-item .selected .goog-tree-item-label {
    color: #DD4B39;
}
.navpane .goog-tree-item .goog-tree-row-activated .goog-tree-item-label {
    color: #DD4B39;
}
.selection-highlighter {
    display: none;
}
.navpane .selection-highlighter {
    border-left: 4px solid #FFFFFF;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
}
.density-normal .selection-highlighter {
    left: -28px;
}
.density-small .selection-highlighter {
    left: -12px;
}
.density-tiny .selection-highlighter {
    left: -6px;
}
.navpane-top-list.density-tiny .selection-highlighter {
    left: -6px;
}
.navpane .selected .selection-highlighter {
    border-left-color: #DD4B39;
}
.navpane .goog-tree-row-activated .selection-highlighter {
    border-left-color: #DD4B39;
}
.navpane .goog-option-selected .selection-highlighter {
    border-left-color: #DD4B39;
}
.navpane .goog-tree-item {
    overflow: visible;
}
.navpane .goog-list-menu-container {
    overflow: visible !important;
}
.navpane .goog-menu {
    box-shadow: none;
}
.navpane .selected .goog-tree-item-label, .navpane .selected .treedoclistview-node-name {
    font-weight: bold;
}
.navpane .goog-tree-row-activated .goog-tree-item-label, .navpane .goog-tree-row-activated .treedoclistview-node-name {
    font-weight: bold;
}
.nav-tree-folder-view .goog-tree-row {
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    vertical-align: top;
}
.nav-tree-folder-view .goog-tree-item-label {
    margin-top: 0 !important;
}
.nav-tree-folder-view .goog-list.density-normal .goog-tree-item-label {
    padding: 7px 0;
}
.nav-tree-folder-view .goog-list.density-small .goog-tree-item-label {
    padding: 4px 0;
}
.nav-tree-folder-view .goog-list.density-tiny .goog-tree-item-label {
    padding: 2px 0;
}
.nav-tree-folder-view .goog-list.density-small .goog-tree-row {
    border: 1px solid #FFFFFF;
    height: 22px;
    line-height: 18px;
}
.nav-tree-folder-view .goog-list.density-tiny .goog-tree-row {
    border: 1px solid #FFFFFF;
    height: 18px;
    line-height: 14px;
}
.nav-tree-folder-view .goog-tree-row-selected {
    vertical-align: top;
}
.navpane .doclist-folder-triangle-pilled .documentpill {
    padding-top: 1px;
}
.navpane .treedoclistview-node-name {
    padding: 0 1px;
}
.navpane .treedoclistview-root-node-name {
    font-size: 13px;
}
.navpane .treedoclistview-disabled-root-node-name {
    color: #888888;
}
.goog-tree-row-hover .action-arrow, .goog-listitem-highlight .action-arrow {
    background-color: #EEEEEE;
}
.nav-tree-folder-view .goog-tree-row-hover.goog-tree-row-icon-hover .action-arrow {
    background-color: #FFFFFF;
    color: #000000;
}
.goog-tree-item .selected .action-arrow, .goog-option-selected .action-arrow {
    background-color: #EEEEEE;
}
.navpane-top-list .action-arrow {
    font-size: 0.77em;
    margin-top: 1px;
    padding: 0 4px;
}
.nav-tree-folder-view .goog-list.density-normal .action-arrow {
    padding-top: 7px;
}
.nav-tree-folder-view .goog-list.density-small .action-arrow {
    padding-top: 5px;
}
.nav-tree-folder-view .goog-list.density-tiny .action-arrow {
    padding-top: 3px;
}
.nav-tree-folder-view .action-arrow {
    height: 14px;
    padding-left: 4px;
    padding-right: 4px;
}
.goog-useragent-ie .nav-tree-folder-view .goog-list.density-small .action-arrow {
    padding-right: 16px;
}
.goog-useragent-ie .nav-tree-folder-view .goog-list.density-normal .action-arrow {
    padding-right: 32px;
}
.nav-tree-folder-view .action-arrow-dropdown-container {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    height: 12px;
    width: 12px;
}
.nav-tree-folder-view .action-arrow-dropdown-container:hover {
    background-color: #E5E5E5;
    border: 1px solid #BCBCBC;
}
.nav-tree-folder-view .goog-flat-menu-button-dropdown {
    right: 2px;
    top: 4px;
}
.navpane-expand-icon.doclist-folder-triangle-collapsed {
    height: 100% !important;
    opacity: 0.8;
    width: 15px !important;
}
.goog-tree-row-icon-hover .navpane-expand-icon.doclist-folder-triangle-collapsed {
    opacity: 1;
}
.goog-list.density-normal .navpane-expand-icon.doclist-folder-triangle-collapsed {
    background-position: -1600px 10px !important;
}
.goog-list.density-small .navpane-expand-icon.doclist-folder-triangle-collapsed {
    background-position: -1600px 7px !important;
}
.goog-list.density-tiny .navpane-expand-icon.doclist-folder-triangle-collapsed {
    background-position: -1602px 5px !important;
}
.navpane-expand-icon.doclist-folder-triangle-expanded {
    height: 100% !important;
    opacity: 0.8;
    width: 15px !important;
}
.goog-list.density-tiny .navpane-expand-icon.doclist-folder-triangle-expanded {
    width: 11px !important;
}
.goog-tree-row-icon-hover .navpane-expand-icon.doclist-folder-triangle-expanded {
    opacity: 1;
}
.goog-list.density-normal .navpane-expand-icon.doclist-folder-triangle-expanded {
    background-position: -1582px 11px !important;
}
.goog-list.density-small .navpane-expand-icon.doclist-folder-triangle-expanded {
    background-position: -1582px 8px !important;
}
.goog-list.density-tiny .navpane-expand-icon.doclist-folder-triangle-expanded {
    background-position: -1584px 6px !important;
}
.more-caption .more-icon, .more-caption .less-icon {
    height: 6px;
    margin-top: -1px;
    vertical-align: top;
    width: 7px;
}
.more-caption .more-icon:before {
    content: url("//ssl.gstatic.com/ui/v1/zippy/arrow_down.png");
}
.more-caption .less-icon:before {
    content: url("//ssl.gstatic.com/ui/v1/icons/mail/arrow_up.png");
}
.connected-services-separator {
    margin-top: 16px !important;
}
/*首页左侧树样式-over*/

/*首页左创建buttom 弹出框样式-begin   */  

.detroit-createmenu-centralelements {
    display: inline-block;
}

.detroit-createmenu-page-control-icon {
    background-image: url(../images/icons_35.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    opacity: 0.6;
    width: 16px;
}

.detroit-createmenu-pageindicator {
     background-image:url(../images/icons_35.png);
    background-position: -2058px 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    opacity: 0.15;
    padding-left: 4px;
    padding-right: 4px;
    transition: opacity 0.2s linear 0s;
    width: 50px;
}

.detroit-createmenu-pageindicator-active {
    opacity: 0.6;
}
.detroit-createmenu-pageindicator-inactive {
    cursor: pointer;
    opacity: 0.15;
}
.detroit-createmenu-pageindicator-inactive:hover {
    opacity: 0.3;
}
.detroit-createmenuitem {
    cursor: pointer;
    padding: 6px 12px;
    white-space: nowrap;
}
.detroit-createmenuitem-disabled.detroit-createmenuitem {
    cursor: default;
}
.detroit-createmenuitem-name {
    overflow: hidden;
    padding-top: 8px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}
.detroit-createmenuitem-disabled .detroit-createmenuitem-name {
    color: #CCCCCC;
}
.detroit-createmenuitem-name {
    width: 130px;
}
.detroit-createmenu-getmoreapps-container {
    background-color: #F3F3F3;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.detroit-createmenu-getmoreapps-container .goog-menuitem {
    border: medium none;
    box-shadow: 0 5px 8px -3px #CCCCCC inset;
    padding: 10px 0;
    width: 100%;
}
.goog-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: medium none;
    padding: 6px 0;
    position: absolute;
    transition: opacity 0.218s ease 0s;
}

/*首页左创建buttom 弹出框样式 */


/*左侧导航-新建文件夹弹出框*/
.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
  z-index: 987;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}
.modal-dialog, .modal-dialog-ie {
    z-index: 1004;
}
.modal-dialog {
    color: #000000;
    padding: 30px 42px;
}
.goog-modalpopup, .modal-dialog {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    outline: 0 none;
    position: absolute;
}
.modal-dialog {
    color: #000000;
    padding: 30px 42px;
}
.goog-modalpopup, .modal-dialog {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    outline: 0 none;
    position: absolute;
}
.modal-dialog-bg, .modal-dialog-ie-bg {
    z-index: 1002;
}
.modal-dialog, .modal-dialog-ie {
    z-index: 1004;
}
.confirm-dialog-bg {
    z-index: 1010;
}
.confirm-dialog {
    z-index: 1011;
}
.modal-dialog-content {
    font-size: 13px;
}
.modal-dialog-userInput {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.modal-dialog-userInput:focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    outline: medium none;
}
.modal-dialog-buttons button::-moz-focus-inner {
    border: 0 none;
}
.modal-dialog-title {
    background-color: #FFFFFF;
    color: #000000;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 16px;
}
.modal-dialog-title-close:after {
    background: url(../images/close-x.png) repeat scroll 0 0 transparent;
    content: "";
    height: 11px;
    position: absolute;
    right: 17px;
    width: 11px;
}
.modal-dialog-title-close {
    height: 11px;
    opacity: 0.7;
    padding: 17px;
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
}
.modal-dialog-buttons .goog-buttonset-action {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
}
.modal-dialog-buttons button {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 0 16px 0 0;
    min-width: 72px;
    outline: 0 none;
    padding: 0 8px;
}

.modal-dialog-content {
    font-size: 13px;
}
.modal-dialog-content {
    background-color: #FFFFFF;
    line-height: 1.4em;
}
.modal-dialog-title {
    color: #000000;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.modal-dialog-buttons {
    margin-top: 16px;
}















.navpane-top-list {
    border-top: 0 none !important;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}
.navpane-top-list.density-normal {
    line-height: 26px;
    padding: 0 0 0 27px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-top-list.density-small {
    line-height: 20px;
    padding: 0 0 0 11px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-top-list.density-tiny {
    line-height: 16px;
    padding: 0 0 0 3px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-top-list .goog-menu {
    padding-bottom: 0;
    padding-top: 0;
}
.navpane-top-list .goog-menuseparator {
    margin-bottom: 3px;
    margin-left: 16px;
    margin-top: 4px;
}
.download-link {
    cursor: pointer;
    padding-left: 16px;
    text-decoration: none;
}
.download-link .goog-tree-item-label {
    white-space: normal;
}
.offline-disabled .download-link {
    cursor: default;
    opacity: 0.5;
}
.offline-disabled a.download-link:hover .goog-tree-item-label {
    color: #222222;
}
.download-link:hover .goog-tree-item-label {
    color: #1155CC;
}
.navpane-download-link.density-normal {
    line-height: 26px;
    padding-left: 28px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-download-link.density-small {
    line-height: 20px;
    padding-left: 12px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-download-link.density-tiny {
    line-height: 16px;
    padding-left: 0;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane-download-separator {
    margin-bottom: 10px;
    margin-left: 16px;
    margin-top: 4px;
}
.navpane .goog-menu {
    outline: medium none;
}
.nav-tree-folder-view {
    margin-bottom: 16px;
    overflow: hidden;
    width: 100%;
}
.sc-navpane .nav-tree-folder-view {
    margin-bottom: 0;
}
.sc-navpane-separator {
    border-top-color: #FFFFFF;
    margin: 3px 0 2px !important;
}
.nav-tree-folder-view .goog-list.density-normal {
    padding: 0 0 0 27px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.nav-tree-folder-view .goog-list.density-small {
    padding: 0 0 0 11px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.nav-tree-folder-view .goog-list.density-tiny {
    padding: 0 0 0 3px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.goog-useragent-ie .nav-tree-folder-view .goog-list {
    width: 100%;
}
.nav-tree-folder-view .goog-tree-root {
    border: 0 none;
    height: auto;
    outline: medium none;
    overflow: hidden;
}
.nav-tree-folder-view .goog-tree-row {
    cursor: pointer;
}
.nav-tree-folder-view .goog-tree-row-hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #EEEEEE !important;
    color: #000000;
}
.nav-tree-folder-view .goog-tree-disabled .goog-tree-row-hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF !important;
    color: #000000;
}
.nav-tree-folder-view .goog-tree-row-hover.goog-tree-row-icon-hover {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF !important;
    color: #000000;
}
.goog-tree-row-icon-hover .navpane-expand-icon {
    background-color: #EEEEEE;
    color: #000000;
}
.navpane .navpane-top-list .goog-listitem {
    border: 1px solid #FFFFFF;
    padding-left: 0;
    position: relative;
}
.navpane-top-list.density-normal .goog-listitem {
    line-height: 26px;
}
.navpane-top-list.density-small .goog-listitem {
    line-height: 20px;
}
.navpane-top-list.density-tiny .goog-listitem {
    line-height: 16px;
}
.goog-listitem-icon.starred-icon {
    background-image: url("https://ssl.gstatic.com/docs/doclist/images/icons_35.png");
    background-position: -240px 0;
    margin-left: 2px;
    margin-top: -2px;
    padding-top: 0;
}
.goog-useragent-ie7only .goog-listitem-icon.starred-icon {
    margin-top: 0.035em;
}
.navpane .treedoclistview-node-message {
    left: -5px;
    position: relative;
    top: -3px;
}
.navpane .goog-listitem-container, .navpane .goog-listitemheader-container {
    vertical-align: top;
}
.navpane .navpane-top-list .goog-listitem-content {
    padding-left: 16px;
}
.navpane .navpane-top-list.density-tiny .goog-listitem-content {
    padding-left: 12px;
}
.navpane .goog-tree-item-label {
    vertical-align: top;
    width: auto;
}
.navpane .goog-list.density-normal .goog-tree-item-label {
    margin-top: 4px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane .goog-list.density-small .goog-tree-item-label {
    margin-top: 1px;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.navpane .goog-list.density-tiny .goog-tree-item-label {
    margin-top: 0;
    transition: font-size 0.218s ease 0s, height 0.218s ease 0s, line-height 0.218s ease 0s, margin 0.218s ease 0s, padding 0.218s ease 0s, width 0.218s ease 0s;
}
.goog-tree-item-dragover {
    background-color: #EEEEEE;
    border: 1px solid #4D90FE !important;
}
.navpane .goog-tree-item .selected .goog-tree-item-label {
    color: #DD4B39;
}
.navpane .goog-tree-item .goog-tree-row-activated .goog-tree-item-label {
    color: #DD4B39;
}
.selection-highlighter {
    display: none;
}
.navpane .selection-highlighter {
    border-left: 4px solid #FFFFFF;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
}
.density-normal .selection-highlighter {
    left: -28px;
}
.density-small .selection-highlighter {
    left: -12px;
}
.density-tiny .selection-highlighter {
    left: -6px;
}
.navpane-top-list.density-tiny .selection-highlighter {
    left: -6px;
}
.navpane .selected .selection-highlighter {
    border-left-color: #DD4B39;
}
.navpane .goog-tree-row-activated .selection-highlighter {
    border-left-color: #DD4B39;
}
.navpane .goog-option-selected .selection-highlighter {
    border-left-color: #DD4B39;
}
.navpane .goog-tree-item {
    overflow: visible;
}
.navpane .goog-list-menu-container {
    overflow: visible !important;
}
.navpane .goog-menu {
    box-shadow: none;
}
.navpane .selected .goog-tree-item-label, .navpane .selected .treedoclistview-node-name {
    font-weight: bold;
}
.navpane .goog-tree-row-activated .goog-tree-item-label, .navpane .goog-tree-row-activated .treedoclistview-node-name {
    font-weight: bold;
}
.nav-tree-folder-view .goog-tree-row {
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    vertical-align: top;
}
.nav-tree-folder-view .goog-tree-item-label {
    margin-top: 0 !important;
}
.nav-tree-folder-view .goog-list.density-normal .goog-tree-item-label {
    padding: 7px 0;
}
.nav-tree-folder-view .goog-list.density-small .goog-tree-item-label {
    padding: 4px 0;
}
.nav-tree-folder-view .goog-list.density-tiny .goog-tree-item-label {
    padding: 2px 0;
}
.nav-tree-folder-view .goog-list.density-normal .goog-tree-row {
    border: 1px solid #FFFFFF;
    height: 28px;
    line-height: 28px;
}
.nav-tree-folder-view .goog-list.density-small .goog-tree-row {
    border: 1px solid #FFFFFF;
    height: 22px;
    line-height: 18px;
} 
.nav-tree-folder-view .goog-tree-row-selected {
    vertical-align: top;
}

.doclist-folder-triangle-collapsed, .doclist-folder-triangle-expanded, .doclist-icon, .doclist-new-icon, .doclist-sort-asc, .doclist-sort-desc, .doclist-header-star-icon, .doclist-header-star-icon-sort-asc, .doclist-header-star-icon-sort-desc {
    background-image: url(../images/icons_35.png);
    background-repeat: no-repeat;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    vertical-align: top;
    width: 16px;
}
.doclist-icon {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.navpane-expand-icon.doclist-folder-triangle-collapsed {
    height: 100% !important;
    opacity: 0.8;
    width: 15px !important;
}
.goog-list.density-tiny .navpane-expand-icon.doclist-folder-triangle-collapsed {
    width: 11px !important;
}
.goog-list.density-tiny .navpane-expand-icon.doclist-folder-triangle-collapsed {
    background-position: -1602px 5px !important;
}

.nav-tree-folder-view .goog-list.density-normal {
    padding-bottom: 0;
    padding-left: 27px;
    padding-right: 0;
    padding-top: 0;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
    transition-duration: 0.218s, 0.218s, 0.218s, 0.218s, 0.218s, 0.218s;
    transition-property: font-size, height, line-height, margin, padding, width;
    transition-timing-function: ease, ease, ease, ease, ease, ease;
}